@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$ghost-accent-color: #A6001F;
$resource-yellow: goldenrod;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $ghost-accent-color;
$link: $primary;//$pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set some standard variables for different theme colours
//**Default Card Theme**//
$card-default-background-color: #fffbeb;
$card-default-line-color: #363636;
$card-default-text-color: #2160c4;

/*********************************
Article card changes
*********************************/
$card-radius: .1rem;

article.card {
  background-color: $card-default-background-color;
}

article.card.lib-card .card-content {
  border-top-style: solid;
  border-top-color: $card-default-line-color;
  border-top-width: 1px;
}

article.card.lib-card .card-header .card-header-title, article.card .card-header .subtitle.media-content {
  font-family: 'Times New Roman', Times, serif;
}

.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-equal-height .card-footer {
  margin-top: auto;
}

/*********************************
Hero Header changes
*********************************/
#hero-header-logo {
  filter: drop-shadow(0 0 .75rem white);
  filter: drop-shadow(0 0 .1rem white);
  filter: drop-shadow(0 0 .3rem white);
}
#hero-header-titles .title, #hero-header-titles .subtitle {
  text-shadow: 0 0 .75rem white,
               0 0 .1rem white,
               0 0 .3rem white;
}
.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.5;
}

/*********************************
navbar changes
*********************************/
$navbar-item-color: white;
$navbar-subitem-color: black;

.navbar {
  display: flex;
  align-content: center;
  justify-content: center;
}

.navbar .navbar-menu {
  flex-grow: initial;
  flex-shrink: initial;
}

.navbar-start .navbar-item {
  min-width: 100px;
}

.navbar-dropdown .navbar-item {
  color: $navbar-subitem-color;
}

/*********************************
Text/Font changes
*********************************/
.title, .title.is-1, .title.is-2, .title.is-3, .title.is-4, .title.is-5, .title.is-6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

p {
  color: black;
}

// Import only what you need from Bulma
@import "../../../node_modules/bulma/bulma.sass";
